<?xml version="1.0"?>
<ui-composition xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <options>
    <dev-repository>%USERPROFILE%\dev-repository\</dev-repository>
  </options>
  <widget-package-configuration-sets>
    <set name="default">
      <packages>
        <package id="Sekoia.CodeToggling.Widgets" />
        <package id="Sekoia.Services.Compass.Widgets" />
        <package id="Sekoia.Widgets" />
      </packages>
    </set>
  </widget-package-configuration-sets>
  <widget-packages>
    <package id="Sekoia.CodeToggling.Widgets" version="2.8.0.111" />
    <package id="Sekoia.Services.Compass.Widgets" version="2.9.0.161" />
    <package id="Sekoia.Widgets" version="1.25.0.531" />
  </widget-packages>
</ui-composition>