body, html {
    height: 100%;
}

.page-host {
    position: absolute;
    left: 0;
    right: 0;
    top: 70px;
    bottom: 0;
    overflow-x: hidden;
    overflow-y: auto;
}

section {
    margin: 0 20px;
}

.use-flex-grid .col-xs-1, .use-flex-grid .col-sm-1, .use-flex-grid .col-md-1, .use-flex-grid .col-lg-1, .use-flex-grid .col-ul-1, .use-flex-grid .col-xs-2, .use-flex-grid .col-sm-2, .use-flex-grid .col-md-2, .use-flex-grid .col-lg-2, .use-flex-grid .col-ul-2, .use-flex-grid .col-xs-3, .use-flex-grid .col-sm-3, .use-flex-grid .col-md-3, .use-flex-grid .col-lg-3, .use-flex-grid .col-ul-3, .use-flex-grid .col-xs-4, .use-flex-grid .col-sm-4, .use-flex-grid .col-md-4, .use-flex-grid .col-lg-4, .use-flex-grid .col-ul-4, .use-flex-grid .col-xs-5, .use-flex-grid .col-sm-5, .use-flex-grid .col-md-5, .use-flex-grid .col-lg-5, .use-flex-grid .col-ul-5, .use-flex-grid .col-xs-6, .use-flex-grid .col-sm-6, .use-flex-grid .col-md-6, .use-flex-grid .col-lg-6, .use-flex-grid .col-ul-6, .use-flex-grid .col-xs-7, .use-flex-grid .col-sm-7, .use-flex-grid .col-md-7, .use-flex-grid .col-lg-7, .use-flex-grid .col-ul-7, .use-flex-grid .col-xs-8, .use-flex-grid .col-sm-8, .use-flex-grid .col-md-8, .use-flex-grid .col-lg-8, .use-flex-grid .col-ul-8, .use-flex-grid .col-xs-9, .use-flex-grid .col-sm-9, .use-flex-grid .col-md-9, .use-flex-grid .col-lg-9, .use-flex-grid .col-ul-9, .use-flex-grid .col-xs-10, .use-flex-grid .col-sm-10, .use-flex-grid .col-md-10, .use-flex-grid .col-lg-10, .use-flex-grid .col-ul-10, .use-flex-grid .col-xs-11, .use-flex-grid .col-sm-11, .use-flex-grid .col-md-11, .use-flex-grid .col-lg-11, .use-flex-grid .col-ul-11, .use-flex-grid .col-xs-12, .use-flex-grid .col-sm-12, .use-flex-grid .col-md-12, .use-flex-grid .col-lg-12, .use-flex-grid .col-ul-12 {
  box-sizing: border-box;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
}
.use-flex-grid .row {
  box-sizing: border-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -10px;
  margin-left: -10px;
}
.use-flex-grid .row.reverse {
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}
.use-flex-grid .row.grow {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
@media (min-width: 768px) {
  .use-flex-grid .column {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .use-flex-grid .column.reverse {
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
  .use-flex-grid .column.grow {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .use-flex-grid .column.maximize > .row {
    margin-left: 0;
    margin-right: 0;
  }
  .use-flex-grid .col-sm-12 {
    -webkit-flex: 100%;
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
  .use-flex-grid .col-sm-12 > .maximize {
    left: 10px;
    right: 10px;
  }
  .use-flex-grid .col-sm-11 {
    -webkit-flex: 91.66666667%;
    -ms-flex: 91.66666667%;
    flex: 91.66666667%;
    max-width: 91.66666667%;
  }
  .use-flex-grid .col-sm-11 > .maximize {
    left: 10px;
    right: 10px;
  }
  .use-flex-grid .col-sm-10 {
    -webkit-flex: 83.33333333%;
    -ms-flex: 83.33333333%;
    flex: 83.33333333%;
    max-width: 83.33333333%;
  }
  .use-flex-grid .col-sm-10 > .maximize {
    left: 10px;
    right: 10px;
  }
  .use-flex-grid .col-sm-9 {
    -webkit-flex: 75%;
    -ms-flex: 75%;
    flex: 75%;
    max-width: 75%;
  }
  .use-flex-grid .col-sm-9 > .maximize {
    left: 10px;
    right: 10px;
  }
  .use-flex-grid .col-sm-8 {
    -webkit-flex: 66.66666667%;
    -ms-flex: 66.66666667%;
    flex: 66.66666667%;
    max-width: 66.66666667%;
  }
  .use-flex-grid .col-sm-8 > .maximize {
    left: 10px;
    right: 10px;
  }
  .use-flex-grid .col-sm-7 {
    -webkit-flex: 58.33333333%;
    -ms-flex: 58.33333333%;
    flex: 58.33333333%;
    max-width: 58.33333333%;
  }
  .use-flex-grid .col-sm-7 > .maximize {
    left: 10px;
    right: 10px;
  }
  .use-flex-grid .col-sm-6 {
    -webkit-flex: 50%;
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
  .use-flex-grid .col-sm-6 > .maximize {
    left: 10px;
    right: 10px;
  }
  .use-flex-grid .col-sm-5 {
    -webkit-flex: 41.66666667%;
    -ms-flex: 41.66666667%;
    flex: 41.66666667%;
    max-width: 41.66666667%;
  }
  .use-flex-grid .col-sm-5 > .maximize {
    left: 10px;
    right: 10px;
  }
  .use-flex-grid .col-sm-4 {
    -webkit-flex: 33.33333333%;
    -ms-flex: 33.33333333%;
    flex: 33.33333333%;
    max-width: 33.33333333%;
  }
  .use-flex-grid .col-sm-4 > .maximize {
    left: 10px;
    right: 10px;
  }
  .use-flex-grid .col-sm-3 {
    -webkit-flex: 25%;
    -ms-flex: 25%;
    flex: 25%;
    max-width: 25%;
  }
  .use-flex-grid .col-sm-3 > .maximize {
    left: 10px;
    right: 10px;
  }
  .use-flex-grid .col-sm-2 {
    -webkit-flex: 16.66666667%;
    -ms-flex: 16.66666667%;
    flex: 16.66666667%;
    max-width: 16.66666667%;
  }
  .use-flex-grid .col-sm-2 > .maximize {
    left: 10px;
    right: 10px;
  }
  .use-flex-grid .col-sm-1 {
    -webkit-flex: 8.33333333%;
    -ms-flex: 8.33333333%;
    flex: 8.33333333%;
    max-width: 8.33333333%;
  }
  .use-flex-grid .col-sm-1 > .maximize {
    left: 10px;
    right: 10px;
  }
  .use-flex-grid .col-sm {
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-flex-basis: 0;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    max-width: 100%;
  }
  .use-flex-grid .col-sm-offset-12 {
    margin-left: 100%;
  }
  .use-flex-grid .col-sm-offset-11 {
    margin-left: 91.66666667%;
  }
  .use-flex-grid .col-sm-offset-10 {
    margin-left: 83.33333333%;
  }
  .use-flex-grid .col-sm-offset-9 {
    margin-left: 75%;
  }
  .use-flex-grid .col-sm-offset-8 {
    margin-left: 66.66666667%;
  }
  .use-flex-grid .col-sm-offset-7 {
    margin-left: 58.33333333%;
  }
  .use-flex-grid .col-sm-offset-6 {
    margin-left: 50%;
  }
  .use-flex-grid .col-sm-offset-5 {
    margin-left: 41.66666667%;
  }
  .use-flex-grid .col-sm-offset-4 {
    margin-left: 33.33333333%;
  }
  .use-flex-grid .col-sm-offset-3 {
    margin-left: 25%;
  }
  .use-flex-grid .col-sm-offset-2 {
    margin-left: 16.66666667%;
  }
  .use-flex-grid .col-sm-offset-1 {
    margin-left: 8.33333333%;
  }
  .use-flex-grid .start-sm {
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    text-align: start;
  }
  .use-flex-grid .center-sm {
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
  }
  .use-flex-grid .end-sm {
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    text-align: end;
  }
  .use-flex-grid .top-sm {
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .use-flex-grid .middle-sm {
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .use-flex-grid .bottom-sm {
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
  }
  .use-flex-grid .around-sm {
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
  .use-flex-grid .between-sm {
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .use-flex-grid .first-sm {
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1;
  }
  .use-flex-grid .last-sm {
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
  }
}
@media (min-width: 992px) {
  .use-flex-grid .col-md-12 {
    -webkit-flex: 100%;
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
  .use-flex-grid .col-md-12 > .maximize {
    left: 10px;
    right: 10px;
  }
  .use-flex-grid .col-md-11 {
    -webkit-flex: 91.66666667%;
    -ms-flex: 91.66666667%;
    flex: 91.66666667%;
    max-width: 91.66666667%;
  }
  .use-flex-grid .col-md-11 > .maximize {
    left: 10px;
    right: 10px;
  }
  .use-flex-grid .col-md-10 {
    -webkit-flex: 83.33333333%;
    -ms-flex: 83.33333333%;
    flex: 83.33333333%;
    max-width: 83.33333333%;
  }
  .use-flex-grid .col-md-10 > .maximize {
    left: 10px;
    right: 10px;
  }
  .use-flex-grid .col-md-9 {
    -webkit-flex: 75%;
    -ms-flex: 75%;
    flex: 75%;
    max-width: 75%;
  }
  .use-flex-grid .col-md-9 > .maximize {
    left: 10px;
    right: 10px;
  }
  .use-flex-grid .col-md-8 {
    -webkit-flex: 66.66666667%;
    -ms-flex: 66.66666667%;
    flex: 66.66666667%;
    max-width: 66.66666667%;
  }
  .use-flex-grid .col-md-8 > .maximize {
    left: 10px;
    right: 10px;
  }
  .use-flex-grid .col-md-7 {
    -webkit-flex: 58.33333333%;
    -ms-flex: 58.33333333%;
    flex: 58.33333333%;
    max-width: 58.33333333%;
  }
  .use-flex-grid .col-md-7 > .maximize {
    left: 10px;
    right: 10px;
  }
  .use-flex-grid .col-md-6 {
    -webkit-flex: 50%;
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
  .use-flex-grid .col-md-6 > .maximize {
    left: 10px;
    right: 10px;
  }
  .use-flex-grid .col-md-5 {
    -webkit-flex: 41.66666667%;
    -ms-flex: 41.66666667%;
    flex: 41.66666667%;
    max-width: 41.66666667%;
  }
  .use-flex-grid .col-md-5 > .maximize {
    left: 10px;
    right: 10px;
  }
  .use-flex-grid .col-md-4 {
    -webkit-flex: 33.33333333%;
    -ms-flex: 33.33333333%;
    flex: 33.33333333%;
    max-width: 33.33333333%;
  }
  .use-flex-grid .col-md-4 > .maximize {
    left: 10px;
    right: 10px;
  }
  .use-flex-grid .col-md-3 {
    -webkit-flex: 25%;
    -ms-flex: 25%;
    flex: 25%;
    max-width: 25%;
  }
  .use-flex-grid .col-md-3 > .maximize {
    left: 10px;
    right: 10px;
  }
  .use-flex-grid .col-md-2 {
    -webkit-flex: 16.66666667%;
    -ms-flex: 16.66666667%;
    flex: 16.66666667%;
    max-width: 16.66666667%;
  }
  .use-flex-grid .col-md-2 > .maximize {
    left: 10px;
    right: 10px;
  }
  .use-flex-grid .col-md-1 {
    -webkit-flex: 8.33333333%;
    -ms-flex: 8.33333333%;
    flex: 8.33333333%;
    max-width: 8.33333333%;
  }
  .use-flex-grid .col-md-1 > .maximize {
    left: 10px;
    right: 10px;
  }
  .use-flex-grid .col-md {
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-flex-basis: 0;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    max-width: 100%;
  }
  .use-flex-grid .col-md-offset-12 {
    margin-left: 100%;
  }
  .use-flex-grid .col-md-offset-11 {
    margin-left: 91.66666667%;
  }
  .use-flex-grid .col-md-offset-10 {
    margin-left: 83.33333333%;
  }
  .use-flex-grid .col-md-offset-9 {
    margin-left: 75%;
  }
  .use-flex-grid .col-md-offset-8 {
    margin-left: 66.66666667%;
  }
  .use-flex-grid .col-md-offset-7 {
    margin-left: 58.33333333%;
  }
  .use-flex-grid .col-md-offset-6 {
    margin-left: 50%;
  }
  .use-flex-grid .col-md-offset-5 {
    margin-left: 41.66666667%;
  }
  .use-flex-grid .col-md-offset-4 {
    margin-left: 33.33333333%;
  }
  .use-flex-grid .col-md-offset-3 {
    margin-left: 25%;
  }
  .use-flex-grid .col-md-offset-2 {
    margin-left: 16.66666667%;
  }
  .use-flex-grid .col-md-offset-1 {
    margin-left: 8.33333333%;
  }
  .use-flex-grid .start-md {
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    text-align: start;
  }
  .use-flex-grid .center-md {
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
  }
  .use-flex-grid .end-md {
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    text-align: end;
  }
  .use-flex-grid .top-md {
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .use-flex-grid .middle-md {
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .use-flex-grid .bottom-md {
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
  }
  .use-flex-grid .around-md {
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
  .use-flex-grid .between-md {
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .use-flex-grid .first-md {
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1;
  }
  .use-flex-grid .last-md {
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
  }
}
@media (min-width: 1200px) {
  .use-flex-grid .col-lg-12 {
    -webkit-flex: 100%;
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
  .use-flex-grid .col-lg-12 > .maximize {
    left: 10px;
    right: 10px;
  }
  .use-flex-grid .col-lg-11 {
    -webkit-flex: 91.66666667%;
    -ms-flex: 91.66666667%;
    flex: 91.66666667%;
    max-width: 91.66666667%;
  }
  .use-flex-grid .col-lg-11 > .maximize {
    left: 10px;
    right: 10px;
  }
  .use-flex-grid .col-lg-10 {
    -webkit-flex: 83.33333333%;
    -ms-flex: 83.33333333%;
    flex: 83.33333333%;
    max-width: 83.33333333%;
  }
  .use-flex-grid .col-lg-10 > .maximize {
    left: 10px;
    right: 10px;
  }
  .use-flex-grid .col-lg-9 {
    -webkit-flex: 75%;
    -ms-flex: 75%;
    flex: 75%;
    max-width: 75%;
  }
  .use-flex-grid .col-lg-9 > .maximize {
    left: 10px;
    right: 10px;
  }
  .use-flex-grid .col-lg-8 {
    -webkit-flex: 66.66666667%;
    -ms-flex: 66.66666667%;
    flex: 66.66666667%;
    max-width: 66.66666667%;
  }
  .use-flex-grid .col-lg-8 > .maximize {
    left: 10px;
    right: 10px;
  }
  .use-flex-grid .col-lg-7 {
    -webkit-flex: 58.33333333%;
    -ms-flex: 58.33333333%;
    flex: 58.33333333%;
    max-width: 58.33333333%;
  }
  .use-flex-grid .col-lg-7 > .maximize {
    left: 10px;
    right: 10px;
  }
  .use-flex-grid .col-lg-6 {
    -webkit-flex: 50%;
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
  .use-flex-grid .col-lg-6 > .maximize {
    left: 10px;
    right: 10px;
  }
  .use-flex-grid .col-lg-5 {
    -webkit-flex: 41.66666667%;
    -ms-flex: 41.66666667%;
    flex: 41.66666667%;
    max-width: 41.66666667%;
  }
  .use-flex-grid .col-lg-5 > .maximize {
    left: 10px;
    right: 10px;
  }
  .use-flex-grid .col-lg-4 {
    -webkit-flex: 33.33333333%;
    -ms-flex: 33.33333333%;
    flex: 33.33333333%;
    max-width: 33.33333333%;
  }
  .use-flex-grid .col-lg-4 > .maximize {
    left: 10px;
    right: 10px;
  }
  .use-flex-grid .col-lg-3 {
    -webkit-flex: 25%;
    -ms-flex: 25%;
    flex: 25%;
    max-width: 25%;
  }
  .use-flex-grid .col-lg-3 > .maximize {
    left: 10px;
    right: 10px;
  }
  .use-flex-grid .col-lg-2 {
    -webkit-flex: 16.66666667%;
    -ms-flex: 16.66666667%;
    flex: 16.66666667%;
    max-width: 16.66666667%;
  }
  .use-flex-grid .col-lg-2 > .maximize {
    left: 10px;
    right: 10px;
  }
  .use-flex-grid .col-lg-1 {
    -webkit-flex: 8.33333333%;
    -ms-flex: 8.33333333%;
    flex: 8.33333333%;
    max-width: 8.33333333%;
  }
  .use-flex-grid .col-lg-1 > .maximize {
    left: 10px;
    right: 10px;
  }
  .use-flex-grid .col-lg {
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-flex-basis: 0;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    max-width: 100%;
  }
  .use-flex-grid .col-lg-offset-12 {
    margin-left: 100%;
  }
  .use-flex-grid .col-lg-offset-11 {
    margin-left: 91.66666667%;
  }
  .use-flex-grid .col-lg-offset-10 {
    margin-left: 83.33333333%;
  }
  .use-flex-grid .col-lg-offset-9 {
    margin-left: 75%;
  }
  .use-flex-grid .col-lg-offset-8 {
    margin-left: 66.66666667%;
  }
  .use-flex-grid .col-lg-offset-7 {
    margin-left: 58.33333333%;
  }
  .use-flex-grid .col-lg-offset-6 {
    margin-left: 50%;
  }
  .use-flex-grid .col-lg-offset-5 {
    margin-left: 41.66666667%;
  }
  .use-flex-grid .col-lg-offset-4 {
    margin-left: 33.33333333%;
  }
  .use-flex-grid .col-lg-offset-3 {
    margin-left: 25%;
  }
  .use-flex-grid .col-lg-offset-2 {
    margin-left: 16.66666667%;
  }
  .use-flex-grid .col-lg-offset-1 {
    margin-left: 8.33333333%;
  }
  .use-flex-grid .start-lg {
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    text-align: start;
  }
  .use-flex-grid .center-lg {
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
  }
  .use-flex-grid .end-lg {
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    text-align: end;
  }
  .use-flex-grid .top-lg {
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .use-flex-grid .middle-lg {
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .use-flex-grid .bottom-lg {
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
  }
  .use-flex-grid .around-lg {
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
  .use-flex-grid .between-lg {
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .use-flex-grid .first-lg {
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1;
  }
  .use-flex-grid .last-lg {
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
  }
}
#content > div > div > .container-fluid.maximize {
  padding: 10px 20px;
}
#content > div > div > .container-fluid.maximize > .column.maximize {
  top: 10px;
  left: 10px;
  right: 10px;
}
.maximize {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}